body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #17408B;
  color: #FFFFFF;

}
ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  
}
li{
min-width: 15rem;;
}
.names{
  font-size: 2rem;
  color: #c9082a;
}
.logo{
  background-image:url(./images/nba.png);
  width: 20rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 2rem;
}
.todo{
  display: flex;
 flex-direction: column;
justify-content: center;
}
input{
background-color: rgba(256,256,256, 0.8);
width: 2rem;
margin-left: 0.2rem;
}
li{
  font-size: 1.2rem;
}